body, html {
    height: 100vw !important;
    overflow: hidden;
    margin: 0;
    font-family: 'Sofadi One', cursive;
}


#StayFocusd-infobar{
    height:0
}

.startPage{
    background-image: url("/Background.gif");
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 0;
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    display: inherit
}

#app{
    height:100%;
    top:0;
    padding: 0;
    margin: 0;
}

.body{
    height: 100vw;
}

.startMenu{
    display: flex;
    flex-direction: column;
    background-color: rgba(254, 254, 254, 0.6);
    /* opacity: .5; */
    width: 40vw;
    height: auto;
    margin-top: 15vw;
    margin-left: 30%;
    border-radius: 25px;
    text-align: center
}

.title{
    font-size: 3vw;
    font-weight: bold;
    padding: 5%;
    /* margin-top: 5% */
}

.startMenu button{
    background-color: green;
    color: white;
    width: 20vw;
    height: 3vw;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 5%;
    border-radius: 15px;
    border: none;
}

#backButton{
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    margin-bottom: 2%
}

#backButton:hover{
    cursor: pointer;
    color: green
}

.startMenu button:hover{
    opacity:.8;
    cursor: pointer
}

.buttons{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    /* width: 80%; */
    /* margin-left: 10% */
    padding: 0;
    margin:0
}

.startMenu input{
    width: 20vw;
    height: 3vw;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 5%;
    border-radius: 15px;
    border: none;
    text-align: center;
    color: green
}

.startMenu label{
    text-align: left;
    font-size: 2vw;
    font-weight: bold;
}

.waitingRoom{
    display: flex;
    justify-content: stretch;
    align-content: flex-start; 
    font-size: 1.5vw;
    font-weight: bold;
    padding: 0;
    margin: 0;
    width: 80%;
    margin: 10%;
    margin-top:2%
}

#list{
    text-align: left;
    padding-right: 2%;
    width: 50%;
}

#list ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#list li{
    font-weight: normal
}

#info{
    width: 50%;
    display: flex;
    flex-direction: column
}

#info div{
    width: 100%
}

#info button{
    width: 100%;
    height: auto;
}

.waitingRoom #backButton{
    display: hidden
}

.waitingRoomJoin{
    font-size: 2.5vw;
    width: 80%;
    margin-left: auto;
    padding:10%;
    padding-top: 3%;
    font-weight: bold
}

button:focus {
    outline:0;
}

input:focus {
    outline:0;
}

.gameBoard {
    display: flex;
    height: 100%;
    position: absolute;
    top:0
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightSide {
    display: flex;
    flex-direction: column
}

.scoreBoard{
    width: 20vw;
    height: 50%;
    background-color: blue;
}

.chat{
    width: 20vw;
    height: 50%;
    background-color: red;
}

.gameButtons{
    height: 5%;
}

#boardCanvas{
    height: 70%;
    width: 80vw;
}

#currentTiles{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 25%;
}

#playerTile{
    height: 94%;
    margin: 3% 0 3% 0;
    border: solid black;
    width:20%;
}

#currentTiles {
    display: flex;
}

#playerTile img {
    height:2vw
}

#playerCurrentTile{
    width: 100%;
    height: 70%;
    margin-left: auto
}

#playerCurrentTile canvas{
    width: 100% !important;
    margin: 0 !important;
    height: 100% !important;
}

#playerTitle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5vw;
    margin: 1% 4% 1% 4%;
    height: 15%;
}

#meeple{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%
}

#playerName{
    width: 70%
}

#playerButtons{
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    margin: auto
}

#playerButtons button{
    margin: 0;
    padding: 0;
    font-size: .75vw;
    background-color: green;
    color: white;
    width: 35%;
    height: 60%;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-bottom: 2%
}

#playerButtons button:hover:enabled{
    opacity:.8;
    cursor: pointer
}

#playerButtons button:disabled{
    background-color: gray;
    cursor: default
}
